<h2 class="pagetitle">Users</h2>

<table class="table">
  <tr>
    <th>User</th>
    <th>role</th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= mail_to user.email %></td>
    <td><%= "Admin" if user.admin? %></td>
    <td><%= link_to "edit user", edit_user_registration_path %></td>
  </tr>
<% end %>
</table>
