<h2 class="pagetitle">Users</h2>

<table class="table">
  <tr>
    <th>User</th>
    <th>role</th>
    <th>Verified?</th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= mail_to user.email %></td>
    <td><%= user_role %></td>
    <td><%= current_user.verified? %></td>
    <td><%= link_to "edit user", user_edit_path(user) %></td>
  </tr>
<% end %>
</table>
