<% if current_user.verified %>

<h3>You passed.   </h3>

<% else %>
  <ul>
  <% @wrong_answers.each do |a| %>
    <li><%= a %></li>
  <% end %>
  </ul>
<h4>Not Quite – Keep trying!</h4> 
<p>In order to pass the PlantRight<sup>&trade;</sup> 101 training, all participants must answer each of the ten questions correctly. Fortunately, you can review the questions you missed by clicking <a href="#">here</a> and take the test again.</p>

<p>You can also review the information included in the <a href="#">PlantRight 101 training materials section</a> before retaking the test.</p>

<p>When you’re ready to take the test again, <%= link_to "click here", quiz_path %>.</p>

<p>Thanks for persevering and good luck!</p>

<% end %>
