<div id="content">
  <h2 class="pageTitle">
    Partner FAQ
  </h2>
  <h3 class="fold">
    <a href="#">About PlantRight</a>
  </h3>
  <ol>
    <li>
      <a href="#1">Project History</a>
    </li>
    <li>
      <a href="#2">How is PlantRight funded?</a>
    </li>
    <li>
      <a href="#3">What makes PlantRight an expert on invasive plant issues in California?</a>
    </li>
    <li>
      <a href="#4">What is PlantRight doing to stop the spread of invasives beyond its partner program with retail stores?</a>
    </li>
  </ol>
  <h3 class="fold">
    <a href="#">About PlantRight’s “Invasives List”</a>
  </h3>
  <ol>
    <li>
      <a href="#5">How was PlantRight’s list of invasive plants created?</a>
    </li>
    <li>
      <a href="#6">Does this list ever change?</a>
    </li>
    <li>
      <a href="#7">How is PlantRight’s list different from the California Invasive Plant Council (Cal-IPC) list?</a>
    </li>
    <li>
      <a href="#8">What if there are invasive plants in my region that are not represented on PlantRight’s list?</a>
    </li>
    <li>
      <a href="#9">Are PlantRight’s “Recommended Alternatives” the only ones worth considering?</a>
    </li>
    <li>
      <a href="#10">Where can I learn more about the invasive plants on PlantRight’s list and recommended alternatives?</a>
    </li>
  </ol>
  <h3 class="fold">
    <a href="#" class="fold">About PlantRight’s Retail Partnership Program</a>
  </h3>
  <ol>
    <li>
      <a href="#11">Why partner with PlantRight?</a>
    </li>
    <li>
      <a href="#12">What if we have already stopped carrying the invasive plants identified by PlantRight?</a>
    </li>
    <li>
      <a href="#13">How much time will this partnership program require of stores and of their staff?</a>
    </li>
    <li>
      <a href="#14">How can PlantRight afford to offer partnership benefits for free?</a>
    </li>
    <li>
      <a href="#15">What if PlantRight updates its list to include a plant we are currently selling? How will PlantRight work with us in this situation?</a>
    </li>
    <li>
      <a href="#16">What is the PlantRight Pledge, and how is it related to the partnership program?</a>
    </li>
    <li>
      <a href="#17">What if our store sells sterile versions of an invasive plant?</a>
    </li>
    <li>
      <a href="#18">What if our store sells cultivars of an invasive plant?</a>
    </li>
  </ol>
  <h3 class="fold">
    <a href="#">About PlantRight 101 Training</a>
  </h3>
  <ol>
    <li>
      <a href="#19">Who should participate?</a>
    </li>
    <li>
      <a href="#20">What do PlantRight 101 graduates gain from this training?</a>
    </li>
    <li>
      <a href="#21">Is this training only offered online?</a>
    </li>
    <li>
      <a href="#22">How long does it take to complete?</a>
    </li>
    <li>
      <a href="#23">What if someone fails the test?</a>
    </li>
    <li>
      <a href="#24">How can I make a suggestion for improvement?</a>
    </li>
  </ol>
  
  
  <div id="faq_answers">
  <h4>
    <a name="1">1. Project history</a>
  </h4>
  <p>
    PlantRight was established in 2005 by the non-profit organization Sustainable Conservation in conjunction with an alliance of leaders from the horticulture industry, environmental groups, scientists, academics and government agencies. This group, known as California Horticultural Invasives Prevention (Cal-HIP), acts as a steering committee for the project and convenes on a quarterly basis to address the costly
  </p>
  <p>
    and serious issue of invasive plants being sold by nurseries and garden centers in our state. Since its inception,PlantRight has collaborated with leaders in the California horticultural industry to reduce the negative environmental and economic impacts of invasive plants via voluntary, cost-effective methods.
  </p>
  <h4>
    <a name="2">2. How is PlantRight funded?</a>
  </h4>
  <p>
    PlantRight is funded by foundation grants and out of California-based non-profit, Sustainable Conservation’s annual operating budget.
  </p>
  <h4>
    <a name="4">3. What makes PlantRight an expert on invasive plant issues in California?</a>
  </h4>
  <p>
    PlantRight was designed by a broad alliance of leaders from the horticulture industry, environmental groups, scientists, academics and government agencies. This group, known as California Horticultural Invasives Prevention (Cal-HIP), acts as a steering committee for the project and convenes on a quarterly basis to advance its mission. Comprised of credentialed scientists and experienced horticulturalists, PlantRight’s multi-stakeholder steering committee provides high-level expertise on a wide range of invasive plant issues.
  </p>
  <p>
    PlantRight’s model is also widely regarded as a solution that could be effectively applied beyond California's borders. More specifically, PlantRight has been recognized:
  </p>
  <ul>
    <li>In a report by the National Invasive Species Council to the U.S. Department of the Interior , as a promising framework to prevent the sale and spread of invasives.
    </li>
    <li>By a governor-appointed taskforce in Arizona as a beneficial approach for the state.
    </li>
    <li>By environmental groups and horticulture businesses in Utah, Texas, Michigan, Washington, and Florida interested in forging similar partnerships.
    </li>
    <li>What is PlantRight doing to stop the spread of invasives beyond its partner program with retail stores? In addition to partnering with retail nurseries, we are tackling the issue of invasives head on by:
    </li>
    <li>Developing a Weed Risk Assessment (WRA) tool with plant scientists at UC, Davis. This tool will help propagators and growers identify the invasive risk of new plants and cultivars before they are brought to market and spread into wildlands;
    </li>
    <li>Developing educational content to increase awareness about invasive plants among nursery professionals, as well as among landscaping and gardening communities; and
    </li>
    <li>Giving presentations and attending both tradeshows and conferences to spread awareness about invasive horticultural plants and promote opportunities for action.
    </li>
  </ul>
  
  <span class="pagetoplink"><a href="#pagetop">top of page</a></span>
  
  <h3>
    About PlantRight’s “Invasives List”
  </h3>
  <h4>
    <a name="5">1. How was the list created?</a>
  </h4>
  <p>
    Our regionally specific list is the result of a collaborative and science-based effort that reflects the expertise of leading horticultural professionals, plant scientists, and government representatives in California.
  </p>
  <p>
    We first created our list in 2006 by paring down the California Invasive Plant Council's (Cal-IPC) list to include only those invasive plants still used in California’s nursery trade. We then applied various criteria to decide whether to add the resulting plants to PlantRight’s list, including the plant’s geographic range, potential environmental impact, and financial significance to the nursery trade. The resulting list of 19 plants represents the invasives whose removal from nursery inventories could be offset by readily available alternatives and whose negative impacts could be scientifically substantiated.
  </p>
  <h4>
    <a name="6">2. Does this list ever change?</a>
  </h4>
  <p>
    While the current PlantRight list has not changed since 2006, it will be reviewed in early- 2013 and is subject to change annually based on the introduction of new plant species, changes in gardening trends, and expanding knowledge about invasives.
  </p>
  <h4>
    <a name="7">3. How is PlantRight’s list different from the California Invasive Plant Council (Cal-IPC) list?</a>
  </h4>
  <p>
    The Cal-IPC list includes all types of invasive plants that are found in our state, while PlantRight’s list only represents those that are still planted as ornamentals for use in gardens and landscaping.
  </p>
  <h4>
    <a name="8">4. What if PlantRight’s list doesn’t include ornamental plants that are invasive in my region?</a>
  </h4>
  <p>
    PlantRight’s list was created as a starting point for effectively engaging California’s nursery industry on the issue of invasives. As a result, it does not encompass all horticultural invasive plants, in all parts of the state. If you know of a plant that is invasive in your region and is not listed by PlantRight, we encourage your store to sell a non-invasive alternative that is more appropriate for your region instead.
  </p>
  <h4>
    <a name="9">5. Are PlantRight’s “Recommended Alternatives” the only ones worth considering?</a>
  </h4>
  <p>
    Not at all. There are so many non-invasive, ornamental plants available today that a definitive list of viable alternatives would be exhaustive. PlantRight makes its recommendations by carefully selecting comparable, non-invasive plants that closely match the desirable traits of a targeted invasive, but you may prefer to use other non- invasive varieties instead. If you have a suggestion for our recommended alternatives list, let us know!
  </p>
  <h4>
    <a name="10">6. Where can I learn more about the invasive plants on PlantRight’s list and recommended alternatives?</a>
  </h4>
  <p>
    A good place to begin is by reviewing PlantRight’s list of invasives online, which includes information about each targeted plant, as well as links to additional information and resources. If you have a specific question about the list, feel free to contact us.
  </p>
  
  <span class="pagetoplink"><a href="#pagetop">top of page</a></span>
  
  <h3>
    About PlantRight’s Retail Partnership Program
  </h3>
  <h4>
    <a name="11">1. Why partner with PlantRight?</a>
  </h4>
  <p>
    You, and your business, recognize that it’s possible to “do right” by the environment without making sacrifices to your bottom line. Specifically, you believe it’s important to help your customers make more informed purchasing decisions when it comes to regionally appropriate and non-invasive plants. PlantRight’s research-based training and educational resources help your staff, customers and vendors stay informed about the serious impacts caused by invasive plants, and better equip you to make a difference, together.
  </p>
  <h4>
    <a name="12">2. What if we have already stopped carrying the invasive plants identified by PlantRight?</a>
  </h4>
  <p>
    Congratulations on being in the forefront of the horticultural industry! Partnering with PlantRight further demonstrates to your staff, customers and community that your business cares about the environment and actively promotes more sustainable landscaping and gardening practices. By being officially recognized as a PlantRight partner, your business can garner even more positive goodwill, publicity, and customer loyalty.
  </p>
  <h4>
    <a name="13">3. How much time will this partnership program require of stores and of their staff?</a>
  </h4>
  <p>
    Store owners or managers are asked to register their store and invite all staff who are involved in plant purchasing decisions to participate in the PlantRight 101 online training. This takes approximately ten minutes in total.
  </p>
  <p>
    Those staff members you identify are then required to complete the PlantRight 101 training and test, which can be completed in 30-minutes or less.
  </p>
  <h4>
    <a name="14">4. How can PlantRight afford to offer partnership benefits for free?</a>
  </h4>
  <p>
    PlantRight is a fully funded project of the California-based nonprofit, Sustainable Conservation. Benefits provided through this partnership program are funded through foundation grants and out of Sustainable Conservation’s annual operating budget.
  </p>
  <h4>
    <a name="15">5. What if PlantRight updates its list to include a plant we are currently selling? How will PlantRight work with us in this situation?</a>
  </h4>
  <p>
    New plant species, changes in gardening trends, and expanding knowledge about invasive plants may lead us to update our list. In cases where a partner store is selling a specific plant when we add it to our list , that store will be given 90 days to phase the identified plant out of its inventory. This time can also be used to alert vendors and customers to the change. In addition, PlantRight will develop and distribute a list of more suitable, non-invasive plants to consider using instead.
  </p>
  <p>
    PlantRight plans to update its invasives list at times of the year that will allow growers and retailers to shift their practices with minimal financial impact.
  </p>
  <h4>
    <a name="16">6. What is the PlantRight Pledge, and how is it related to the partnership program?</a>
  </h4>
  <p>
    The PlantRight Pledge is a public commitment to not sell any plants listed as invasive on the PlantRight list and is a printable document. When displayed, the PlantRight Pledge is a small, yet important way to show that your store “walks the talk” when it comes to helping customers make more environmentally conscious and sustainable choices.
  </p>
  <h4>
    <a name="17">7. What if our store sells sterile versions of an invasive plant?</a>
  </h4>
  <p>
    In keeping with our science-based approach, PlantRight is still researching the issue of sterility and has not taken an official stance or position on sterile varieties of invasive plants. That said, stores that partner with PlantRight are discouraged from selling sterile varieties of the invasive plants on our list because there is no standard for what constitutes a sterile plant – and some can still produce fertile offspring.
  </p>
  <h4>
    <a name="18">8. What if our store sells cultivars of an invasive plant?</a>
  </h4>
  <p>
    Except for sterile cultivars (see #17 above) and the red/purple varieties of green fountain grass (Pennisetum setaceum), PlantRight considers all cultivars of invasive plants to be invasive as well. Stores that partner with PlantRight will be expected to avoid selling these plants.
  </p>
  
  <span class="pagetoplink"><a href="#pagetop">top of page</a></span>
  
  <h3>
    About PlantRight 101 Training
  </h3>
  <h4>
    <a name="19">1. Who should participate?</a>
  </h4>
  <p>
    This course is designed specifically with plant buyers and customer-facing sales staff in mind, so if your role fits this description please join us! Those members of the nursery trade who are infinitely curious, love to learn, and always looking for new and fascinating facts on plants stand to benefit, too.
  </p>
  <h4>
    <a name="20">2. What do PlantRight 101 graduates gain from this training?</a>
  </h4>
  <p>
    PlantRight 101 will help you understand the invasive plant issues and opportunities that affect our state and our industry. And the knowledge you gain will help you better support your customers’ desire to adopt more sustainable gardening practices.
  </p>
  <h4>
    <a name="21">3. Is this training only offered online?</a>
  </h4>
  <p>
    At this time, yes, and Internet access is required. If this is an issue, contact us and we can evaluate if there are other options that will work for your business.
  </p>
  <h4>
    <a name="22">4. How long does it take to complete?</a>
  </h4>
  <p>
    When budgeting your time, please set aside approximately 30-minutes to complete the PlantRight 101 training and test.
  </p>
  <h4>
    <a name="23">5. What if someone fails the test?</a>
  </h4>
  <p>
    No problem. The study materials remain available and the test can be retaken as many times as it takes for a staff person to answer all ten questions correctly.
  </p>
  <h4>
    <a name="24">6. How can I make a suggestion for improvement?</a>
  </h4>
  <p>
    We welcome feedback and would love to hear from you. Contact us anytime with suggestions and include “PlantRight 101” in your email subject line.
  </p>
  
  <span class="pagetoplink"><a href="#pagetop">top of page</a></span>
  </div>
  
</div>
