<% content_for :body_class, 'partner_only' %>

<div id="content">
<h2 class="pageTitle">Partner Resources</h2>
<h4>Created by the horitcultural industry for the horticultural industry, your PlantRight<sup class="tm">&trade;</sup>:</h4>

<ul id="partner_downloads">
<li id="download_pledge"><a href="">Download the PlantRight Pledge</a></li>
<li id="download_agreement"><a href="">Download the Partnership Agreement</a></li>
</ul>

<div id="resources_list">

  <div id="training_and_education">
  
    <h3>Staff Training &amp; Continuing Education</h3>
    
    <h4>Staff Training</h4>
    <ul>
    <li><a href="">PlantRight 101 online training</a></li>
    <li><a href="">2012 PlantRight invasives &amp; alternatives list</a></li>
    <li><a href="">PlantRight Partnership FAQ</a></li>
    </ul>
    
    <h4>Continuing Education</h4>
    <ul>
    <li><a href="">PlantRight Study Guide</a></li>
    <li><a href="">PlantRight 101 Video </a></li>
    <li><a href="">“Sterile” plant info sheet</a></li>
    <li><a href="">List of invasive plant resources</a></li>
    </ul>
      
    <div id="resources_feedback">
    <h5>Help us to help you</h5>
    We're learning too, so we'd love to hear from you about improving our program. Share ideas with us for how to make this partnership better for you, your colleagues, and your customers by sending us a message at <a href="">plantright@suscon.org</a>.
    </div>

  </div>
  
  <div id="outreach_and_marketing">
    
    <h3>Customer Outreach &amp; Marketing Tools</h3>
    
    <h4>Handouts + Resources</h4>
    <ul>
    <li><a href="">2012 PlantRight invasives &amp; alternatives list</a></li>
    <li><a href="">Cost of invasive plants in California</a></li>
    <li><a href="">List of invasive plant resources</a></li>
    <li><a href="">PlantRight 101 Video</a></li>
    </ul>
    
    
    <h4>Marketing Tools</h4>
    
    <h5>Communications</h5>
    <ul>
    <li><a href="">PlantRight Partnership Announcement (template)</a></li>
    <li><a href="">Invasive Plants: Article One (in series)</a></li>
    <li><a href="">Invasive Plants: Article Two</a></li>
    <li><a href="">Invasive Plants: Article Three</a></li>
    </ul>
    
    <h5>Merchandise</h5>
    <ul>
    <li><a href="">Order signage and other merchandise for your store</a></li>
    </ul>
    
    <h5>Extras</h5>
    <ul>
    <li><a href="">Interview with your store! (template)</a></li>
    <li><a href="">PlantRight Trivia (even Ripley's impressed)</a></li>
    </ul>

  </div>
</div>




</div><!-- end #content -->
