
/* /home */

body.home h2.pageTitle	{
	display: none;
}
	
body.home h3	{
	color: #78a22e;
	font-size: 1.9em;
}

h2 sup, h3 sup, h4 sup	{
	font-weight: normal;
	font-size: .6em;
}
h2 sup	{
	font-size: .3em;
	position: relative;
	top: -1.2em;
	left: 0;
}
	
/* FAQ */

h3.fold	{
	margin-top: 0px;
}

h3.fold a	{
	display: block;
	text-decoration: none;
	border-bottom: dotted 1px #d8cfb4; 
	padding-bottom: 1px;
}

h3.fold a:before	{
	content: '+ ';
}

h3.fold.open a:before	{
	content: '- ';
}

	
h3.fold + ol	{
	margin-left: 0px;
	padding-left: 3em;
	border-bottom: solid 1px #d8cfb4;
	padding-bottom: 20px;
}
	

body.partner_faq h4 a	{
	color: #000;
	text-decoration: none;
}

/* for retailers/new  */
form div.required label abbr, label.required abbr	{
	display: none;
}

form div.add_location	{
	margin: 10px 0px;
}

form label	{
	margin-top: 12px;
	padding-top: 10px;
	border-top: solid 1px #eee;
}

/* form-horizontal is for users/sign_up */
form label.indent, form label.collection_check_boxes, form label.collection_radio_buttons,
form.form-horizontal label	{
	margin-top: 0px;
	padding-top: 0px;
	border: none;
}

p.reqd_notice	{
	color: #c82404;
	
}


/* for /quiz */
form ul.quiz	{
	margin-bottom: 12px;
	padding-bottom: 10px;
	border-bottom: solid 1px #eee;
}

form[action="/quiz"] p	{
	font-weight: bold;
	font-size: 1.1em;
}

/* for quiz failure page */

div#missed_quiz_qs ul	{
	margin-top: 2px;
	color: #c82404;
}

div#missed_quiz_qs ul li:first-child	{
	margin-top: 2px;
	padding-top: 0px;
}

/* for /staff-training */

h3.staff_training_consists	{
	margin-bottom: 0px;
	margin-top: 0px;
}
ol.staff_training_consists	{
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 1.2em;
}
ol.staff_training_consists li	{
	margin-bottom: 4px;
}

span#signup_for_training	{
	display: inline-block;
	font-family: 'Open Sans', Helvetica, Arial sans-serif;
	list-style-type: none;
	padding: 5px 10px;
	margin: 10px;
	color: #fff;
	padding: 10px;
	margin: 10px;
	text-align: center; 
	border: solid 1px #334e04;
	background-color: #5d801f;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: .9em;
}
span#signup_for_training a	{
	color: #fff;
	font-size: 1.75em;
	font-weight: 400;
	padding: 0px 20px;
}
	

/* for users/sign_up */
form.form-horizontal input[type=submit]	{
	margin-left: 180px;
	margin-top: 0px;
}


/* for users/login */
label[for=user_remember_me]	{
	display: inline;
	margin-top: 0px;
	padding-top: 0px;
	border: none;
}



/* for multiple forms */

form input[type=submit]	{
	margin-top: 20px;
	margin-bottom: 20px;
}



/* for anything with little bottom links */
div#shared-links	{
	margin-top: 12px;
	padding-top: 10px;
	border-top: solid 1px #eee;
}

div#shared-links a	{
	display: block;
	margin: 1px 0px;
}

/* submit buttons	*/


form input[type="submit"] {
	margin-top: 20px;
	margin-bottom: 20px;
}

a.btn-primary, .btn-primary, a.btn-success, .btn-success, .btn-info, a.btn-info {
	display: inline-block;
	padding: 4px 14px;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	
	background-color: #A15334;
	border-solid: solid 1px #4d3c14;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AB7A4B), to(#A15334));
	background-image: -webkit-linear-gradient(top, #AB7A4B, #A15334);
	background-image: -o-linear-gradient(top, #AB7A4B, #A15334);
	background-image: -moz-linear-gradient(top, #AB7A4B, #A15334);
	background-image: linear-gradient(to bottom, #AB7A4B, #A15334);
	background-repeat: repeat-x;
	border-color: #4D3C14;
	border-color: rgba(77, 60, 20, .3);
}

.btn-info, a.btn-info {
	background-color: #d8cfb4;
	border-solid: solid 1px #4d3c14;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d8cfb4), to(#c5bb9c));
	background-image: -webkit-linear-gradient(top, #d8cfb4, #c5bb9c);
	background-image: -o-linear-gradient(top, #d8cfb4, #c5bb9c);
	background-image: -moz-linear-gradient(top, #d8cfb4, #c5bb9c);
	background-image: linear-gradient(to bottom, #d8cfb4, #c5bb9c);
	background-repeat: repeat-x;
	border-color: #91826a;
	border-color: rgba(145, 130, 106, .3);
	color: #5f4f28;
 }

.btn:hover {
  color: #fcfce6;
  text-decoration: none;
  background-color: #a15334;
  background-image: none;
}
 
a.btn-info:hover {
  color: #5f4f28;
  text-decoration: none;
  background-color: #bfac8e;
  background-image: none;
}



/* top of page link	*/

span.pagetoplink	{
	display: block;
	text-align: center;
	font-size: .9em;
}
	
