
form div.required label abbr	{
	display: none;
}

form div.add_location	{
	margin: 10px 0px;
}

form label	{
	margin-top: 12px;
	padding-top: 10px;
	border-top: solid 1px #eee;
}
form label.indent, form label.collection_check_boxes, form label.collection_radio_buttons	{
	margin-top: 0px;
	padding-top: 0px;
	border: none;
}

p.reqd_notice	{
	color: #c82404;
	
}

form ul.quiz	{
	margin-bottom: 12px;
	padding-bottom: 10px;
	border-bottom: solid 1px #eee;
}
	