.retailer-form
  span
    input[type="checkbox"]
      float: left
      margin-right: 5px
      margin-left: 2em
  .radios
    span
      display: block
      float: left
      width: 2em
      margin-left: 1.5em
