<p>Welcome <%= @resource.email %>!</p>

<p>Please click the following link to confirm your account.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Thank you!<br />
The PlantRight team</p>
